USE [master]
GO
/****** Object:  Database [QuanLyQuanBanCoffee_Updated]    Script Date: 11/9/2025 8:29:55 PM ******/
CREATE DATABASE [QuanLyQuanBanCoffee_Updated]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanBanCoffee_Updated', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyQuanBanCoffee_Updated.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanBanCoffee_Updated_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyQuanBanCoffee_Updated_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanBanCoffee_Updated].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyQuanBanCoffee_Updated]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[maBan] [nvarchar](50) NOT NULL,
	[tenBan] [nvarchar](100) NOT NULL,
	[soLuongChoNgoi] [int] NULL,
	[khuVuc] [nvarchar](100) NULL,
	[trangThai] [int] NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatBan]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatBan](
	[maPhieuDat] [nvarchar](50) NOT NULL,
	[maBan] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuDat] ASC,
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maSanPham] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[ngayTao] [date] NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThaiThanhToan] [int] NULL,
	[maKhachHang] [nvarchar](50) NULL,
	[maNhanVien] [nvarchar](50) NULL,
	[maKM] [nvarchar](50) NULL,
	[maPTTT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[diaChi] [nvarchar](255) NULL,
	[diemTichLuy] [float] NULL,
	[ngayDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKM] [nvarchar](50) NOT NULL,
	[tenKM] [nvarchar](255) NOT NULL,
	[phanTramGiam] [float] NOT NULL,
	[loaiKM] [nvarchar](100) NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoaiSP] [nvarchar](50) NOT NULL,
	[tenLoai] [nvarchar](255) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[chucVu] [nvarchar](100) NULL,
	[ngayVaoLam] [date] NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatBan]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatBan](
	[maPhieuDat] [nvarchar](50) NOT NULL,
	[ngayDat] [date] NULL,
	[gioBatDau] [time](7) NULL,
	[gioKetThuc] [time](7) NULL,
	[soNguoi] [int] NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [int] NULL,
	[maKhachHang] [nvarchar](50) NULL,
	[maNhanVien] [nvarchar](50) NULL,
	[soDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[maPTTT] [nvarchar](50) NOT NULL,
	[tenPTTT] [nvarchar](255) NOT NULL,
	[trangThai] [int] NULL,
	[moTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/9/2025 8:29:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [nvarchar](50) NOT NULL,
	[tenSanPham] [nvarchar](255) NOT NULL,
	[donViTinh] [nvarchar](50) NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[trangThai] [int] NULL,
	[maLoaiSP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([maBan], [tenBan], [soLuongChoNgoi], [khuVuc], [trangThai], [ghiChu]) VALUES (N'B001', N'Bàn 1A', 2, N'Cửa sổ', 0, N'Gần cửa ra vào')
INSERT [dbo].[Ban] ([maBan], [tenBan], [soLuongChoNgoi], [khuVuc], [trangThai], [ghiChu]) VALUES (N'B002', N'Bàn 2A', 2, N'Cửa sổ', 1, NULL)
INSERT [dbo].[Ban] ([maBan], [tenBan], [soLuongChoNgoi], [khuVuc], [trangThai], [ghiChu]) VALUES (N'B003', N'Bàn 1B', 4, N'Trong nhà', 1, NULL)
GO
INSERT [dbo].[ChiTietDatBan] ([maPhieuDat], [maBan], [ghiChu]) VALUES (N'PDB001', N'B003', NULL)
INSERT [dbo].[ChiTietDatBan] ([maPhieuDat], [maBan], [ghiChu]) VALUES (N'PDB001', N'B004', NULL)
INSERT [dbo].[ChiTietDatBan] ([maPhieuDat], [maBan], [ghiChu]) VALUES (N'PDB002', N'B001', N'Đã xác nhận')
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maSanPham], [soLuong], [donGia]) VALUES (N'HD001', N'SP002', 1, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maSanPham], [soLuong], [donGia]) VALUES (N'HD001', N'SP011', 1, CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maSanPham], [soLuong], [donGia]) VALUES (N'HD002', N'SP006', 2, CAST(45000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayTao], [ghiChu], [trangThaiThanhToan], [maKhachHang], [maNhanVien], [maKM], [maPTTT]) VALUES (N'HD001', CAST(N'2025-10-30' AS Date), N'Cà phê sữa ít ngọt', 1, N'KH001', N'NV002', N'KM001', N'PTTT001')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayTao], [ghiChu], [trangThaiThanhToan], [maKhachHang], [maNhanVien], [maKM], [maPTTT]) VALUES (N'HD002', CAST(N'2025-10-30' AS Date), NULL, 1, N'KH002', N'NV002', NULL, N'PTTT002')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayTao], [ghiChu], [trangThaiThanhToan], [maKhachHang], [maNhanVien], [maKM], [maPTTT]) VALUES (N'HD003', CAST(N'2025-10-31' AS Date), NULL, 0, N'KH003', N'NV003', NULL, NULL)
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [email], [diaChi], [diemTichLuy], [ngayDangKy]) VALUES (N'KH001', N'Nguyễn Văn An', N'0905111222', N'an.nguyen@example.com', N'123 Lê Lợi, Q1, TPHCM', 15000, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [email], [diaChi], [diemTichLuy], [ngayDangKy]) VALUES (N'KH002', N'Trần Thị Bình', N'0905333444', N'binh.tran@example.com', N'456 Hai Bà Trưng, Q3, TPHCM', 50000, CAST(N'2024-05-20' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [email], [diaChi], [diemTichLuy], [ngayDangKy]) VALUES (N'KH003', N'Lê Văn Cường', N'0905555666', N'cuong.le@example.com', N'789 Nguyễn Huệ, Q1, TPHCM', 0, CAST(N'2025-10-30' AS Date))
GO
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [phanTramGiam], [loaiKM], [ngayBatDau], [ngayKetThuc], [trangThai]) VALUES (N'KM001', N'Giảm 10% Giờ vàng (9-11h)', 0.1, N'Hóa đơn', CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [phanTramGiam], [loaiKM], [ngayBatDau], [ngayKetThuc], [trangThai]) VALUES (N'KM002', N'Giảm 20% Thứ 4 Vui Vẻ', 0.2, N'Hóa đơn', CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [phanTramGiam], [loaiKM], [ngayBatDau], [ngayKetThuc], [trangThai]) VALUES (N'KM003', N'Khai trương - Mua 1 tặng 1 (Đồ uống)', 0.5, N'Sản phẩm', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-07' AS Date), 0)
GO
INSERT [dbo].[LoaiSanPham] ([maLoaiSP], [tenLoai], [moTa], [trangThai]) VALUES (N'LSP001', N'Cà phê', N'Các loại cà phê pha máy và pha phin', 1)
INSERT [dbo].[LoaiSanPham] ([maLoaiSP], [tenLoai], [moTa], [trangThai]) VALUES (N'LSP002', N'Trà', N'Các loại trà nóng và trà trái cây', 1)
INSERT [dbo].[LoaiSanPham] ([maLoaiSP], [tenLoai], [moTa], [trangThai]) VALUES (N'LSP003', N'Đá xay', N'Các món đá xay (ice blended)', 1)
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [hoTen], [soDienThoai], [email], [chucVu], [ngayVaoLam], [trangThai]) VALUES (N'NV001', N'Phạm Hùng Dũng', N'0888123456', N'dungph@coffee.com', N'Quản lý', CAST(N'2023-01-01' AS Date), 1)
INSERT [dbo].[NhanVien] ([maNhanVien], [hoTen], [soDienThoai], [email], [chucVu], [ngayVaoLam], [trangThai]) VALUES (N'NV002', N'Hoàng Thị Lan', N'0888789012', N'lanht@coffee.com', N'Thu ngân', CAST(N'2023-03-15' AS Date), 1)
INSERT [dbo].[NhanVien] ([maNhanVien], [hoTen], [soDienThoai], [email], [chucVu], [ngayVaoLam], [trangThai]) VALUES (N'NV003', N'Nguyễn Minh Tuấn', N'0888345678', N'tuannm@coffee.com', N'Barista', CAST(N'2023-03-15' AS Date), 1)
GO
INSERT [dbo].[PhieuDatBan] ([maPhieuDat], [ngayDat], [gioBatDau], [gioKetThuc], [soNguoi], [ghiChu], [trangThai], [maKhachHang], [maNhanVien], [soDienThoai]) VALUES (N'PDB001', CAST(N'2025-12-20' AS Date), CAST(N'18:00:00' AS Time), CAST(N'19:00:00' AS Time), 4, N'Họp nhóm, xin 2 bàn gần nhau', 1, N'KH001', N'NV002', N'0346241254')
INSERT [dbo].[PhieuDatBan] ([maPhieuDat], [ngayDat], [gioBatDau], [gioKetThuc], [soNguoi], [ghiChu], [trangThai], [maKhachHang], [maNhanVien], [soDienThoai]) VALUES (N'PDB002', CAST(N'2025-11-02' AS Date), CAST(N'12:00:00' AS Time), CAST(N'13:00:00' AS Time), 2, N'Xin bàn ở cửa sổ', 1, N'KH003', N'NV002', N'0253463254')
INSERT [dbo].[PhieuDatBan] ([maPhieuDat], [ngayDat], [gioBatDau], [gioKetThuc], [soNguoi], [ghiChu], [trangThai], [maKhachHang], [maNhanVien], [soDienThoai]) VALUES (N'PDB003', CAST(N'2025-11-04' AS Date), CAST(N'13:00:00' AS Time), CAST(N'16:00:00' AS Time), 3, NULL, 2, N'KH002', N'NV001', N'0934263134')
GO
INSERT [dbo].[PhuongThucThanhToan] ([maPTTT], [tenPTTT], [trangThai], [moTa]) VALUES (N'PTTT001', N'Tiền mặt', 1, N'Thanh toán bằng tiền mặt VNĐ')
INSERT [dbo].[PhuongThucThanhToan] ([maPTTT], [tenPTTT], [trangThai], [moTa]) VALUES (N'PTTT002', N'Chuyển khoản QR', 1, N'Quét mã QR ngân hàng')
INSERT [dbo].[PhuongThucThanhToan] ([maPTTT], [tenPTTT], [trangThai], [moTa]) VALUES (N'PTTT003', N'Thẻ tín dụng', 1, N'Thanh toán qua máy POS (Visa, Mastercard)')
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [donViTinh], [gia], [hinhAnh], [trangThai], [maLoaiSP]) VALUES (N'SP001', N'Cà phê đen', N'Ly', CAST(25000.00 AS Decimal(18, 2)), N'capheden.jpg', 1, N'LSP001')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [donViTinh], [gia], [hinhAnh], [trangThai], [maLoaiSP]) VALUES (N'SP002', N'Cà phê sữa', N'Ly', CAST(30000.00 AS Decimal(18, 2)), N'caphesua.jpg', 1, N'LSP001')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [donViTinh], [gia], [hinhAnh], [trangThai], [maLoaiSP]) VALUES (N'SP003', N'Bạc xỉu', N'Ly', CAST(35000.00 AS Decimal(18, 2)), N'bacxiu.jpg', 1, N'LSP001')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__06ACB9A2A2803632]    Script Date: 11/9/2025 8:29:55 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__AB6E6164A7C5F285]    Script Date: 11/9/2025 8:29:55 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__06ACB9A2496A1496]    Script Date: 11/9/2025 8:29:55 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__AB6E616423D917FD]    Script Date: 11/9/2025 8:29:55 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [trangThaiThanhToan]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[LoaiSanPham] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[PhieuDatBan] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[PhuongThucThanhToan] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDa__maBan__60A75C0F] FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatBan] CHECK CONSTRAINT [FK__ChiTietDa__maBan__60A75C0F]
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDa__maPhi__5FB337D6] FOREIGN KEY([maPhieuDat])
REFERENCES [dbo].[PhieuDatBan] ([maPhieuDat])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatBan] CHECK CONSTRAINT [FK__ChiTietDa__maPhi__5FB337D6]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHo__maHoa__5BE2A6F2] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHo__maHoa__5BE2A6F2]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHo__maSan__5CD6CB2B] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHo__maSan__5CD6CB2B]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maKhachH__5165187F] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maKhachH__5165187F]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maKM__534D60F1] FOREIGN KEY([maKM])
REFERENCES [dbo].[KhuyenMai] ([maKM])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maKM__534D60F1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maNhanVi__52593CB8] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maNhanVi__52593CB8]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maPTTT__5441852A] FOREIGN KEY([maPTTT])
REFERENCES [dbo].[PhuongThucThanhToan] ([maPTTT])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maPTTT__5441852A]
GO
ALTER TABLE [dbo].[PhieuDatBan]  WITH CHECK ADD  CONSTRAINT [FK__PhieuDatB__maKha__5812160E] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PhieuDatBan] CHECK CONSTRAINT [FK__PhieuDatB__maKha__5812160E]
GO
ALTER TABLE [dbo].[PhieuDatBan]  WITH CHECK ADD  CONSTRAINT [FK__PhieuDatB__maNha__59063A47] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PhieuDatBan] CHECK CONSTRAINT [FK__PhieuDatB__maNha__59063A47]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__maLoaiS__4D94879B] FOREIGN KEY([maLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([maLoaiSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__maLoaiS__4D94879B]
GO
USE [master]
GO
